.info_profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: var(--color-primary);
    width: 100%;
}

.info_profile img {
    filter: invert(40%);
}

.info_col {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_col span {
    font-style: italic;
    font-weight: 500;
    padding: 5px 0;
}

.info_col button {
    width: 100%;
}

.w100 {
    width: 100%;
    margin: 10px 0;
}

.info_text {
    word-break: break-word;
}

/* Bio edit create*/
.add_bio_wrap {
    display: flex;
    flex-direction: column;
}

.details_input {
    margin-top: 10px;
    background: var(--bg-secondary);
}

.details_input:hover {
    border-color: var(--blue-color);
    outline-offset: 1px;
}

.remaining {
    font-size: 12px;
    color: var(--color-secondary);
    margin: 2px 0;
    align-self: flex-end;
}

.add_bio_wrap .flex {
    margin-top: 5px;
    justify-content: space-between;
}

.flex_left {
    font-size: 14px;
    color: var(--color-secondary);
}

.flex_left i {
    transform: translateY(5px);
    filter: invert(30%);
}

/* Edit user details */
.infosBox {
    min-height: 85vh !important;
    width: 800px !important;
    padding-bottom: 2rem !important;
}

.details_wrapper {
    max-height: 80vh;
    padding: 1rem;
    overflow-y: auto !important;
}

.details_col {
    display: flex;
    flex-direction: column;
}

.details_col span:first-of-type {
    color: var(--color-primary);
    font-weight: 600;
}

.details_col span:last-of-type {
    color: var(--color-secondary);
    font-size: 14px;
}

.details_header {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
}

.add_details_flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 15px;
    color: var(--blue-color);
    font-size: 14px;
    cursor: pointer;
}

.add_details_flex .edit_icon {
    transform: scale(1.1);
}

.editBox_contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.underline:hover {
    text-decoration: underline;
}

.add_bio_wrap select {
    outline: none;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: var(--bg-secondary);
    padding: 0 10px;
}