.pictureBox {
    width: 700px !important;
    height: 700px;
    overflow-y: auto;
}

.update_picture_wrap {
    padding: 10px 15px;
}

.update_picture_buttons {
    display: flex;
    gap: 15px;
}

.update_picture_buttons button {
    width: 100%;
}

.update_picture_buttons .light_blue_btn {
    color: var(--blue-color)
}

/* profile picture view popup crop */
.update_img {
    width: 700px !important;
    height: 800px;
}

.update_image_desc {
    padding: 15px;
}

.textarea_blue {
    width: 100%;
    height: 85px;
    resize: none;
    outline-offset: 7px;
    outline-color: var(--blue-color);
    border-radius: 7px;
    border-color: var(--bg-third);
    padding: 1.1em;
    font-family: inherit;
    font-size: 16px;
    background: var(--bg-primary);
    color: var(--color-primary)
}

.textarea_blue:hover {
    border-color: var(--color-secondary);
}

.update_center {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cropper {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cropper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.update_img .reactEasyCrop_CropAreaGrid {
    width: 300px !important;
    height: 300px !important;
    color: rgba(255, 255, 255, 0.5);
}

.slider {
    width: 100%;
    position: absolute;
    bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 4px;
    background: #ced0d4;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ced0d4;

}

.slider_circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.flex_up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
}

.flex_p_t {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: var(--color-secondary);
    font-size: 17px;
    border-bottom: 1px solid var(--bg-third);
}

.update_submit_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
}

.blue_link {
    cursor: pointer;
    color: var(--blue-color);
    font-weight: 600;
    font-size: 15px;
}

.update_submit_wrap button {
    width: 120px !important;
    letter-spacing: .6px;
}

/* Old pictures to select as profile */
.old_pictures_wrap {
    padding: 15px;
    overflow-y: auto !important;
    height: 550px !important;
}

.old_pictures_wrap h4 {
    padding: 10px 0;
}

.old_pictures {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 15px;
}

.old_pictures img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.old_pictures img:hover {
    filter: brightness(110%);
}

/* Cover copper */
.cover_cropper {
    height: 100%;
}

.cover_cropper img {
    width: 100% !important;

    object-fit: cover;
}

.cover_cropper .cropper {
    height: 350px;
}

.cover_cropper .reactEasyCrop_Container {
    border-radius: 0 0 8px 8px !important;
}

.save_changes_cover {
    width: 100%;
    padding: 10px 20px;
    z-index: 9999999;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}

.save_changes_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.save_changes_left {
    display: flex;
    align-items: center;
    color: #fff
}

.save_changes_left i {
    transform: translateY(5px);
    filter: invert(100%);
}

.opacity_btn {
    background: crimson;
    opacity: 0.5;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 8px 8px;
}

/* Select cover photos from old ones */
.select_cover_box {
    width: 570px !important;
    max-width: 80vw;
}

.selectCoverBox_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 15px;
}

.selectCoverBox_link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 10px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.selectCoverBox_link:first-of-type {
    color: var(--blue-color);
    border-bottom: 3px solid var(--blue-color);
}

/* Other profile view- friendship */
.friendship {
    z-index: 9;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Profile friends */
.profile_friend_count {
    font-weight: 600;
}

.profile_friend_images {
    display: flex;
    align-items: center;
    transform: translateY(10px);
}

.profile_friend_images img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.profile_friend_images img:hover {
    filter: brightness(110%);
}

/* Responsive styles */
@media (max-width:720px) {
    .postBox.pictureBox {
        width: 98% !important;
    }

    .profile_friend_count {
        text-align: center;
        transform: translateY(-15px);
    }

    .profile_friend_images {
        justify-content: center;
        transform: translateY(-10px);
    }
}

@media (max-width:640px) {
    .postBox .old_pictures {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .postBox .old_pictures img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width:590px) {
    .postBox .old_pictures {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .postBox .old_pictures img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width:430px) {
    .box_header span {
        transform: translateX(-2rem) !important;
    }
}


@media (max-height:720px) {

    .postBox.pictureBox {
        width: 700px !important;
        max-height: 590px !important;
        overflow-y: auto;

    }

    .postBox.update_img {
        max-height: 570px !important;
        overflow-y: auto;
        padding: 1rem 0;
    }
}