.right_home {
    position: fixed;
    top: 4.5rem;
    left: 75.7vw;
    width: 17vw;
}

.splitter1 {
    height: 1.3px;
    background: var(--divider);
    width: 17vw;
    margin: 9px 2px 0 3px;
}

.contacts_wrap {
    padding: 1rem 0 1rem 1rem;
}

.contacts_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 7px 10px;
    font-weight: 600;
    color: var(--color-secondary);
}

.contacts_header h5 {
    color: var(--blue-color);
}

.contacts_header_right {
    display: flex;
    align-items: center;
    gap: 6px;
    transform: translateY(4px);
}

.contact_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.contact_circle:hover {
    background: var(--bg-secondary);
}

.contacts_list {
    padding: 5px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-primary);
    font-weight: 600;
}

.contact_img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.contact span {
    transform: translateY(-5px);
    text-transform: capitalize;
}