.home {
    background: var(--bg-secondary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home_middle {
    margin-top: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:1175px) {

    .stories,
    .create_post,
    .post,
    .send_verification {
        width: 85% !important;
    }

    .home .home_middle {
        margin-left: 5%;
    }

    .right_home {
        width: 18vw;
    }

    .white_circle {
        right: 10px;
    }
}

@media (max-width:1080px) {

    .left_home .left_link span,
    .left_home .left_link .col,
    .shortcut,
    .shortcut_list span,
    .splitter,
    .fb_copyright {
        display: none;
    }

    .left_home {
        width: 70px;
    }

    .left_link {
        background: var(--bg-third);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    .right_home {
        width: 20vw;
    }

    .home .home_middle {
        margin-left: 0;
    }
}

@media (max-width:985px) {
    .right_home {
        margin-left: -1.5rem;
    }
}

@media (max-width:870px) {
    .right_home {
        margin-left: -1.5rem;
    }

    .stories,
    .create_post,
    .post,
    .send_verification {
        width: 67% !important;
    }

    .home .home_middle {
        margin-left: 8%;
    }

    .splitter1 {
        width: 20vw;
    }

    .story_profile_pic {
        width: 4.5vw;
        height: 4.5vw;
    }
}

@media (max-width:820px) {

    .home {
        width: 100vw !important;
    }

    .stories {
        grid-template-columns: repeat(6, 13vw);
    }

    .right_home {
        display: none;
    }

    .stories,
    .create_post,
    .post,
    .send_verification {
        width: 85% !important;
    }

    .white_circle {
        right: 1%;
    }

    .left_home::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width:625px) {
    .left_home {
        display: none;
    }

    .home_middle {
        position: absolute;
        margin-left: 0;
    }

    .stories {
        width: 100% !important;
        grid-template-columns: repeat(6, 15vw);
    }

    .create_post_icon {
        font-size: 12px;
    }

    .open_post {
        font-size: 14px;
    }

    .create_post svg {
        width: 20px;
    }

    .white_circle {
        display: none;
    }
}

@media (max-width:550px) {

    .home .stories,
    .home .create_post,
    .home .post {
        width: 95% !important;
    }

    .stories {
        grid-template-columns: repeat(6, 16vw);

    }

    .home_middle {
        width: 100% !important;
    }
}

@media (max-width:485px) {
    .home .comment_col {
        width: 90%;
    }

    .home .create_comment_reply .create_comment_wrap {
        width: 85% !important;
    }

    .home .create_comment_reply .create_comment_wrap .comment_circle_icon {
        display: none;
    }

    .home .comments_wrap img {
        width: 28px;
        height: 28px;
    }
}