.notifications {
    padding: 1rem 2rem 0 2rem;

}

.notifications_wrap {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Left */
.notifications_left {
    position: fixed;
    left: -6px;
    max-height: 100vh;
    width: 300px !important;
    overflow-y: auto;
}

.notifications_left_content {
    background: var(--bg-primary);
    width: 50%;
    margin: 1rem auto;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 1px 2px var(--shadow-1);
}

/* Middle */
.notifications_middle {
    position: absolute;
    width: 50vw;
    left: 50%;
    transform: translateX(-50%);
}

.notifications_middle_content {
    background: var(--bg-primary);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 1px 2px var(--shadow-1);
    min-height: 100vh;
    overflow-y: auto;
}

.nots {
    height: 100px;
    display: flex;
    position: relative;
}

.nots_img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 15px;
}

.nots_right {
    position: absolute;
    right: 1rem;
}

.nots_right .nots_date {
    font-size: 12px;
    margin-left: 20px;
    color: var(--color-secondary);
}

.nots_right .nots_dots {
    margin-top: 15px;
    margin-left: 70px;
    cursor: pointer;
    color: var(--color-secondary);
}

.notification_delete {
    width: 200px;
    height: 40px;
    position: absolute;
    right: 0rem;
    top: 3rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px var(--shadow-1);
    background: #f5f4f4;
    z-index: 99;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.notification_delete i {
    transform: scale(.90);
}

.notification_delete span {
    font-size: 14px;
}

/* Right */
.notifications_right {
    position: fixed;
    right: 2rem;
    width: 300px !important;
    max-height: 100vh;
    overflow-y: auto;
}

.notifications_right_content {
    background: var(--bg-primary);
    width: 50%;
    margin: 1rem auto;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 1px 2px var(--shadow-1);
}

/* Responsives */

@media (max-width:1100px) {
    .notifications_left {
        left: -20px;
    }

    .notifications_right {
        right: 0;
    }
}

@media (max-width:950px) {
    .notifications_left {
        left: -30px;
    }

    .notifications_right {
        right: -2rem;
    }
}

@media (max-width:800px) {
    .notifications_middle {
        margin-top: 10rem;
        width: 90vw !important;
    }

    .notifications_left {
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
        width: 100% !important;
    }

    .notifications_right {
        position: absolute;
        left: 50vw;
        top: 9rem;
        transform: translateX(-50%);
        width: 100% !important;
    }

    .notifications_left_content,
    .notifications_right_content {
        width: 90vw;
    }
}

@media (max-width:500px) {
    .notifications_middle {
        margin-top: 10rem;
        width: 98vw !important;
    }

    .notifications_left_content,
    .notifications_right_content {
        width: 98vw;
    }

    .nots_name {
        font-size: 14px;
        word-break: break-all;
    }
}